[Desktop Entry]
Name=KIMToy
Name[bs]=KIMToy
Name[cs]=KIMToy
Name[da]=KIMToy
Name[de]=KIMToy
Name[el]=KIMToy
Name[es]=KIMToy
Name[et]=KIMToy
Name[fi]=KIMToy
Name[fr]=KIMToy
Name[ga]=KIMToy
Name[gl]=KIMToy
Name[hu]=KIMToy
Name[it]=KIMToy
Name[km]=KIMToy
Name[nl]=KIMToy
Name[pl]=KIMToy
Name[pt]=KIMToy
Name[pt_BR]=KIMToy
Name[sk]=KIMToy
Name[sl]=KIMToy
Name[sv]=Kimtoy
Name[uk]=KIMToy
Name[x-test]=xxKIMToyxx
Name[zh_CN]=KIMToy
Name[zh_TW]=KIMToy
GenericName=Input Method Frontend
GenericName[bs]=Program za unosne metode
GenericName[da]=Brugerflade til inputmetode
GenericName[el]=Διεπαφή μεθόδου εισόδου
GenericName[es]=Interfaz de método de entrada
GenericName[et]=Sisestusviisi kasutajaliides
GenericName[fi]=Syötemenetelmäkäyttöliittymä
GenericName[fr]=Interface de méthode de saisie
GenericName[ga]=Comhéadan Ionchurtha
GenericName[gl]=Interface do método de entrada
GenericName[hu]=Beviteli mód előtétprogram
GenericName[it]=Interfaccia del metodo di inserimento
GenericName[km]=បញ្ចូល​ផ្នែក​ខាង​មុន​​វិធីសាស្ត្រ
GenericName[nl]=Frontend van invoermethode
GenericName[pl]=Nakładka metody wprowadzania
GenericName[pt]=Interface dos Métodos de Introdução de Dados
GenericName[pt_BR]=Infraestrutura de método de entrada
GenericName[sk]=Frontend vstupnej metódy
GenericName[sl]=Začelje vnosnega načina
GenericName[sv]=Gränssnitt för inmatningsmetod
GenericName[uk]=Оболонка способів введення
GenericName[x-test]=xxInput Method Frontendxx
GenericName[zh_CN]=输入法前端
GenericName[zh_TW]=輸入法前端介面
Exec=kimtoy
Type=Application
Terminal=false
Icon=draw-freehand
Categories=Qt;KDE;Utility;

X-KDE-autostart-phase=1
X-KDE-autostart-after=panel
X-KDE-autostart-condition=kimtoyrc:behavior:AutostartKIMToy:false
