[Desktop Entry]
Name=KIMToy
GenericName=Input Method Frontend
Exec=kimtoy
Type=Application
Terminal=false
Icon=draw-freehand
Categories=Qt;KDE;Utility;

X-KDE-autostart-phase=1
X-KDE-autostart-after=panel
X-KDE-autostart-condition=kimtoyrc:behavior:AutostartKIMToy:false
