[Desktop Entry]
Type=Service
Name=Fcitx Surface File
Name[bs]=Fcitx površinska datoteka
Name[da]=Fcitx Surface-fil
Name[de]=Fcitx-Oberflächendatei
Name[el]=Αρχείο επιφάνειας Fcitx
Name[es]=Archivo de superficie de Fcitx
Name[et]=Fcitx pinnafail
Name[fi]=Fcitx-pintatiedosto
Name[fr]=Fichier de surface Fcitx
Name[ga]=Comhad Dhromchla Fcitx
Name[gl]=Ficheiro de superficie Fcitx
Name[hu]=Fcitx felületfájl
Name[it]=File per l'aspetto fcitx
Name[km]=ឯកសារ​ផ្ទៃ​ខាងក្រៅ Fcitx
Name[mr]=एफसीआयटीएक्स सर्फेस फाईल
Name[nb]=Fcitx flatefil
Name[nl]=Fcitx Surface-bestand
Name[pl]=Plik powierzchni Fcitx
Name[pt]=Ficheiro de Superfície do Fcitx
Name[pt_BR]=Arquivo de superfície do Fcitx
Name[sk]=Súbor plochy Fcitx
Name[sl]=Datoteka površine Fcitx
Name[sv]=Fcitx-ytfil
Name[tr]=Fcitx Yüzey Dosyası
Name[uk]=Файл поверхні Fcitx
Name[x-test]=xxFcitx Surface Filexx
Name[zh_CN]=Fcitx 皮肤文件
Name[zh_TW]=Fcitx 外觀檔
X-KDE-ServiceTypes=ThumbCreator
MimeType=application/x-fskin;
CacheThumbnail=false
IgnoreMaximumSize=true
X-KDE-Library=fskinthumbnail
