[Desktop Entry]
Type=Service
Name=Sogou Surface File
Name[es]=Archivo de superficie de Sogou
Name[pt]=Ficheiro de Superfície do Sogou
Name[pt_BR]=Arquivo de superfície do Sogou
Name[sv]=Sogou-ytfil
Name[uk]=Файл поверхні сьогу
Name[x-test]=xxSogou Surface Filexx
X-KDE-ServiceTypes=ThumbCreator
MimeType=application/x-ssf;
CacheThumbnail=false
IgnoreMaximumSize=true
X-KDE-Library=ssfthumbnail
