[Desktop Entry]
Type=Service
Name=Sogou Surface File
Name[da]=Sogou Surface-fil
Name[el]=Αρχείο επιφάνειας Sogou
Name[es]=Archivo de superficie de Sogou
Name[et]=Sogou pinnafail
Name[fi]=Sogou-pintatiedosto
Name[fr]=Fichier de surface Sogou
Name[ga]=Comhad Dhromchla Sagou
Name[gl]=Ficheiro de superficie Sogou
Name[hu]=Sogou felületfájl
Name[it]=File per l'aspetto sogou
Name[km]=ឯកសារ​ផ្ទៃ​ខាងក្រៅ Sogou
Name[nl]=Sogou Surface-bestand
Name[pl]=Plik powierzchni Sogou
Name[pt]=Ficheiro de Superfície do Sogou
Name[pt_BR]=Arquivo de superfície do Sogou
Name[sk]=Súbor plochy Sogou
Name[sl]=Datoteka površine Sogou
Name[sv]=Sogou-ytfil
Name[uk]=Файл поверхні Sogou
Name[x-test]=xxSogou Surface Filexx
Name[zh_CN]=搜狗皮肤文件
Name[zh_TW]=Sogou 外觀檔
X-KDE-ServiceTypes=ThumbCreator
MimeType=application/x-ssf;
CacheThumbnail=false
IgnoreMaximumSize=true
X-KDE-Library=ssfthumbnail
